apiVersion: v1
kind: Service
metadata:
  name: entitlements-service
  namespace: production
spec:
  selector:
    app: entitlements
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
